ion-item, .gender-box {
  margin-bottom: 1rem;
}

.input-item {
  min-height: 50px;

  ion-select {
    margin-top: -20px;
  }
}

.profile-picture-box {
  display: flex;
  width: 100%;

  div {
    margin: auto;
    display: block;
    text-align: center;
  }
}

.preview-img {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

ion-back-button {
  border: unset;
  width: unset;
  height: unset;
}

@media only screen and (min-width: 768px) {
  ion-content {
    align-self: center;
    display: inline-flex;
    width: 50vw;
    border-radius: 20px;
    box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.15);
  }

  ion-footer {
    align-self: center;
    display: inline-flex;
    width: 50vw;
  }
}
