<ion-header>
  <ion-toolbar>
    <ion-button class="nav-button" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_100_2654)">
          <path d="M15 6L9 12L15 18" stroke="#22172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_100_2654">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </ion-button>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
    <ion-button slot="end" class="nav-button" (click)="goBack(true)">
      <ion-icon style="color: black" name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h5>{{'LANGUAGE' | translate}}</h5>
  <ion-item lines="none" class="option" [button]="true" (click)="showLanguages()">
    <p slot="start">{{'LANGUAGE' | translate}}</p>
    <ion-note slot="end">{{currentLang | translate}}</ion-note>
  </ion-item>
  <h5>{{'UNITS' | translate}}</h5>
  <ion-item lines="none" class="option">
    <p slot="start">{{'DISTANCE' | translate}}</p>
    <ion-select slot="end" [(ngModel)]="user?._settings.units.distanceType">
      <ion-select-option>Km</ion-select-option>
      <ion-select-option>Mi</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="option">
    <p slot="start">{{'LENGTH' | translate}}</p>
    <ion-select slot="end" [(ngModel)]="user?._settings.units.lengthType">
      <ion-select-option>Cm</ion-select-option>
      <ion-select-option>Inch</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="option">
    <p slot="start">{{'WEIGHT' | translate}}</p>
    <ion-select slot="end" [(ngModel)]="user?._settings.units.weightType">
      <ion-select-option>Kg</ion-select-option>
      <ion-select-option>Lbs</ion-select-option>
    </ion-select>
  </ion-item>
  <h5>{{'NOTIFICATIONS' | translate}}</h5>
  <ion-item lines="none" class="option">
    <p slot="start">{{'MESSAGES' | translate}}</p>
    <ion-toggle slot="end" [(ngModel)]="user?._settings.notifications.messages"></ion-toggle>
  </ion-item>
  <ion-item lines="none" class="option">
    <p slot="start">{{'FRIENDSREQUEST' | translate}}</p>
    <ion-toggle slot="end" [(ngModel)]="user?._settings.notifications.friendRequests"></ion-toggle>
  </ion-item>
  <ion-item lines="none" class="option">
    <p slot="start">{{'LIKES' | translate}}</p>
    <ion-toggle slot="end" [(ngModel)]="user?._settings.notifications.likes"></ion-toggle>
  </ion-item>
  <h5>{{'PRIVACY' | translate}}</h5>
  <ion-item lines="none" class="option" [button]="true">
    <p slot="start">{{'PRICAVYPOLICY' | translate}}</p>
    <ion-note slot="end"></ion-note>
  </ion-item>
  <ion-item lines="none" class="option" [button]="true">
    <p slot="start">{{'TERMSOFSERVICE' | translate}}</p>
    <ion-note slot="end"></ion-note>
  </ion-item>
  <ion-item lines="none" class="option" [button]="true" (click)="showAccess()">
    <p slot="start">{{'ACCESS' | translate}}</p>
    <ion-note slot="end"></ion-note>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <a class="ion-text-center" style="display: block; font-size: 1rem" (click)="logout()">{{'LOGOUT' | translate}}</a>
    <h5 class="ion-text-center">© 2023 Dexxire {{versionNumber}}</h5>
  </ion-toolbar>
</ion-footer>
