<ion-tabs #startTabs>
  <ion-tab-bar slot="bottom" class="tabs-container">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="discover">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="friendslist">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
