<ion-header>
  <ion-toolbar>
    <ion-button class="nav-button" (click)="closeModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_100_2654)">
          <path d="M15 6L9 12L15 18" stroke="#22172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_100_2654">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </ion-button>
    <ion-title>{{'AVATARS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" *ngFor="let avatar of avatars">
        <img style="display: block; margin: auto" [lazyLoad]="avatar"  errorImage="assets/images/no-image.png" [defaultImage]="'assets/images/loading.svg'"/>
        <ion-button expand="block" size="small" (click)="choose(avatar)">{{'CHOOSE' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
