#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.edit-info {
  height: 64px;
  border-radius: 16px;
  background: var(--S1, linear-gradient(180deg, #E0030C 0%, #9B0207 100%));
  width: 95%;
  display: block;
  margin: auto;

  .info {
    height: 64px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0;
  }

  p {
    color: #fff !important;
  }
}

.edit-btn::part(native) {
  border-radius: 32px;
  background: #FFF;
  color: #E0030C;
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 10vw !important;
  }
}
