<ion-header>
  <ion-toolbar>
    <ion-button class="nav-button" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_100_2654)">
          <path d="M15 6L9 12L15 18" stroke="#22172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_100_2654">
            <rect width="24" height="24" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </ion-button>
    <ion-title>{{'BUYCOINS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3 class="ion-text-center">{{'CREDITBALANCE' | translate}}: {{(user?.availableCoins || 0)}} Coins</h3>
  <h6 class="ion-text-center light-h6">{{'COINSINFORMATION' | translate}}</h6>
  <ion-item lines="none" class="options" *ngFor="let package of packages">
    <ion-icon slot="start" name="cash-outline" color="secondary"></ion-icon>
    <p><strong>{{package.amount}}</strong> Coins ({{package.pricePerCoin}}$/Coin) <strong>{{package.price}}$</strong></p>
    <ion-checkbox slot="end" [checked]="package.isChecked" (ionChange)="selectPackage(package)"></ion-checkbox>
  </ion-item>
</ion-content>

<ion-footer *ngIf="selectedPackage">
  <ion-toolbar>
    <ion-button expand="block" (click)="buy()">{{selectedPackage.price}}$ {{'PAY' | translate}} <ion-spinner *ngIf="loading"></ion-spinner></ion-button>
  </ion-toolbar>
</ion-footer>
