ion-content {
  .options {
    border-radius: 16px;
    border: 1px solid var(--greyscale-grey-200, #E5E6EB);
    margin-bottom: 1rem;
  }
}

ion-header, ion-toolbar, ion-content {
  --background: #F4F4F6;
}
